ui:
  enabled: true

server:
  ha:
    enabled: true

ingress:
  enabled: true
  ingressClassName: nginx
  annotations: 
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  tls:
    - hosts:
      - vault.dylanlab.xyz
      secretName: vaultsecret-tls
  hosts:
    host: vault.dylanlab.xyz
    paths:
      - /