apiVersion: v1
kind: Service
metadata:
  name: nginx-test-service
  namespace: default
spec:
  selector: 
    app: nginx
  type: LoadBalancer  
  ports:
    - port: 8080
      targetPort: 80 
      #nodePort: 30000